/build
/target
/bin
.settings
.project
/webapp/WEB-INF/classes
/tomcat.8080
/webapp/userImg
/webapp/WEB-INF/.gitignore
.classpath
webapp/bagImg
webapp/bill_img
webapp/userImg
resources/application-properties.xml
/bin/
