body{
	background: #D5D9DF;
}

header{
	width:100%;
	/* height: 50px; */
	position:relative;
	clear:both;
	background:#2C4770;
	opacity: 0.6;
	
}

div.menu{
	width:100px;
	height:45px;
	padding:2px;
	display: inline-block;
	margin: 0px 20px;
	background: #FFF;
	border-radius:10px;
	
	
}
container{
	float:left;
	width:75%;
	height:500px;
	margin: 10px;
	position:relative;
	
}

div.line{
	width:100%;
	height:250px;
	
	
}

div.bag{
	width:200px;
	height:200px;
	display: inline-block;
	border: 1px solid #2C4770;
	background: #C8D9F2;
}


sidebar {
	float:left;
	margin:5px;
	position:relative;
	width:20%;
	height:500px;
	
}

