@CHARSET "UTF-8";

div.bagArea {
	width: 800px;
	background: #e4e4e4;
	margin: 10px;
}

a.register{
	margin:10px;
	
}

div.billArea{
	display: block;
}
div.bill{
	width: 120px;
	height:160px;
	background:#C8D9F2;/*색깔 변경하는게 좋을 */
	margin: 30px;
	display:inline-block;
	
}

img.bill_img{
	background-size:100% 100%;
	
}

div.bill_info{
	background: #ffc4c4;
}

p.billName, p.usedMoney, p.createdDate{
	color:white;
	font-size:13px;
}

P.billName{
	font-size:20px;
}
